.background {
    background-color: #eeeeee;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0rem;
    padding: 0rem;
}

.comment {
    margin: 0.8rem;
}

.match-view {
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: calc(8.5vw - 0.5px);
    min-height: 40px;
    height: auto;
}

.square-home {
    border: 3px var(--home-text-color) solid;
    background-color: var(--home-color);
    color: var(--home-text-color);
}

.square-away {
    border: 3px var(--away-text-color) solid;
    background-color: var(--away-color);
    color: var(--away-text-color);
}

.title-bar {
    display: flex;
    justify-content: space-between;
}

.current-players {
    display: flex;
    justify-content: center;
}

.home-text {
    color: var(--home-color);
}

.away-text {
    color: var(--away-color);
}

