/* #eeeeee,#060606,#1fb622,#cff0c5,#aaaaaa */

.player-card {
    position: relative;
    background-color: var(--primary);
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.player-card:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.player-card:hover > .property-wrap, .player-card:hover > .player-name {
    background-color: var(--secondary);
    color: var(--alt-text-color);
}

.player-name {
    font-size: large;
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    color: var(--text-color);
    border-radius: 5px;
}



.property-wrap {
    padding: 0.2rem;
    margin-top: 0.5rem;
    background-color: var(--primary);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 5px;
}

.property-text {
    justify-content: center;
    text-align: center;
    size: 1.5rem;
    color: var(--text-color);
}