:root {
    --USC-primary: #003366;
    --USC-secondary: #FF2400;
    --USC-tertiary: #C0C0C0;

    --USC-north-primary: #000080;
    --USC-north-secondary: #C0C0C0;
    --USC-north-tertiary: #FFFFFF;

    --USC-north-PP-primary: #1C1C1C;
    --USC-north-PP-secondary: #FFD700;
    --USC-north-PP-tertiary: #808080;
    --USC-north-PP-text-color: #FFFFFF;
    --USC-north-PP-alt-text-color: #000000;

    --USC-north-OO-primary: #1E1E1E;
    --USC-north-OO-secondary: #773B15;
    --USC-north-OO-tertiary: #536878;
    --USC-north-OO-text-color: #FFFFFF;
    --USC-north-OO-alt-text-color: #FFFFFF;

    --USC-north-DD-primary: #C62828;
    --USC-north-DD-secondary: #00796B;
    --USC-north-DD-tertiary: #333333;
    --USC-north-DD-text-color: #FFFFFF;
    --USC-north-DD-alt-text-color: #FFFFFF;

    --USC-north-II-primary: #848482;
    --USC-north-II-secondary: #0B0C0C;
    --USC-north-II-tertiary: #D9A741;
    --USC-north-II-text-color: #FFFFFF;
    --USC-north-II-alt-text-color: #FFFFFF;

    --USC-south-primary: #228B22;
    --USC-south-secondary: #FFD700;
    --USC-south-tertiary: #000000;

    --USC-south-PP-primary: #6A0DAD;
    --USC-south-PP-secondary: #1C1C1C;
    --USC-south-PP-tertiary: #666666;
    --USC-south-PP-text-color: #FFFFFF;
    --USC-south-PP-alt-text-color: #FFFFFF;

    --USC-south-SS-primary: #0079C1;
    --USC-south-SS-secondary: #FFD700;
    --USC-south-SS-tertiary: #B2BEB5;
    --USC-south-SS-text-color: #FFFFFF;
    --USC-south-SS-alt-text-color: black;

    --USC-south-MM-primary: #6E7B8B;
    --USC-south-MM-secondary: #0059b3;
    --USC-south-MM-tertiary: #FF0033;
    --USC-south-MM-text-color: #FFFFFF;
    --USC-south-MM-alt-text-color: #FFFFFF;

    --USC-south-KDD-primary: #B59842;
    --USC-south-KDD-secondary: #FF4500;
    --USC-south-KDD-tertiary: #336633;
    --USC-south-KDD-text-color: #FFFFFF;
    --USC-south-KDD-alt-text-color: #FFFFFF;

    --USC-east-primary: #4169E1;
    --USC-east-secondary: #FF2400;
    --USC-east-tertiary: #FFFFFF;

    --USC-east-HHH-primary: #000080;
    --USC-east-HHH-secondary: #FF6F61;
    --USC-east-HHH-tertiary: #FFFFFF;
    --USC-east-HHH-text-color: white;
    --USC-east-HHH-alt-text-color: white;

    --USC-east-FF-primary: #FC8EAC;
    --USC-east-FF-secondary: #40E0D0;
    --USC-east-FF-tertiary: #000;
    --USC-east-FF-text-color: #000;
    --USC-east-FF-alt-text-color: #000;

    --USC-east-LL-primary: #007BFF;
    --USC-east-LL-secondary: #C0C0C0;
    --USC-east-LL-tertiary: #FFFFFF;
    --USC-east-LL-text-color: #FFFFFF;
    --USC-east-LL-alt-text-color: #000;

    --USC-east-MM-primary: #BE0018;
    --USC-east-MM-secondary: #0047AB;
    --USC-east-MM-tertiary: #FAEBD7;
    --USC-east-MM-text-color: #FAEBD7;
    --USC-east-MM-alt-text-color: #FAEBD7;

    --USC-west-primary: #FF4500;
    --USC-west-secondary: #EDC9AF;
    --USC-west-tertiary: #000000;

    --USC-west-GGG-primary: #E2B659;
    --USC-west-GGG-secondary: #808080;
    --USC-west-GGG-tertiary: #5F9EA0;
    --USC-west-GGG-text-color: black;
    --USC-west-GGG-alt-text-color: white;

    --USC-west-SS-primary: #D2B48C;
    --USC-west-SS-secondary: #0B0C0C;
    --USC-west-SS-tertiary: #981E32;
    --USC-west-SS-text-color: black;
    --USC-west-SS-alt-text-color: white;

    --USC-west-PPP-primary: #1A5276;
    --USC-west-PPP-secondary: #FFC300;
    --USC-west-PPP-tertiary: #6C757D;
    --USC-west-PPP-text-color: white;
    --USC-west-PPP-alt-text-color: black;

    --USC-west-OT-primary: #474747;
    --USC-west-OT-secondary: #8B7355;
    --USC-west-OT-tertiary: #00539C;
    --USC-west-OT-text-color: white;
    --USC-west-OT-alt-text-color: white;

    --APC-primary:  #CC0000;
    --APC-secondary: #002244;
    --APC-tertiary: #FFFFFF;

    --APC-north-primary: #191970;
    --APC-north-secondary: #B22222;
    --APC-north-tertiary: #FFFFFF;

    --APC-north-LSL-primary: #292929;
    --APC-north-LSL-secondary: #808080;
    --APC-north-LSL-tertiary: #FF0000;
    --APC-north-LSL-text-color: white;
    --APC-north-LSL-alt-text-color: black;

    --APC-north-WW-primary: #0047AB;
    --APC-north-WW-secondary: #C0C0C0;
    --APC-north-WW-tertiary: #FFD700;
    --APC-north-WW-text-color: #FFD700;
    --APC-north-WW-alt-text-color: black;

    --APC-north-SPS-primary: #C8102E;
    --APC-north-SPS-secondary: #FFD700;
    --APC-north-SPS-tertiary: #C0C0C0;
    --APC-north-SPS-text-color: white;
    --APC-north-SPS-alt-text-color: black;

    --APC-north-AA-primary: #008000;
    --APC-north-AA-secondary: #FF0000;
    --APC-north-AA-tertiary: #C0C0C0;
    --APC-north-AA-text-color: white;
    --APC-north-AA-alt-text-color: white;

    --APC-south-primary: #03543F;
    --APC-south-secondary: #B8860B;
    --APC-south-tertiary: #000000;

    --APC-south-CC-primary: #36454F;
    --APC-south-CC-secondary: #56A0D3;
    --APC-south-CC-tertiary: #FF3333;
    --APC-south-CC-text-color: white;
    --APC-south-CC-alt-text-color: black;

    --APC-south-SSS-primary: #006400;
    --APC-south-SSS-secondary: #007BA7;
    --APC-south-SSS-tertiary: #8B5A2B;
    --APC-south-SSS-text-color: white;
    --APC-south-SSS-alt-text-color: white;

    --APC-south-CCC-primary: #003366;
    --APC-south-CCC-secondary: #D4AF37;
    --APC-south-CCC-tertiary: #808080;
    --APC-south-CCC-text-color: white;
    --APC-south-CCC-alt-text-color: black;

    --APC-south-FSF-primary: #FF4500;
    --APC-south-FSF-secondary: #E25822;
    --APC-south-FSF-tertiary: #B2BEB5;
    --APC-south-FSF-text-color: white;
    --APC-south-FSF-alt-text-color: white;

    --APC-east-primary: #9BDDFF;
    --APC-east-secondary: #DC143C;
    --APC-east-tertiary: #FFFFFF;

    --APC-east-JCJ-primary: #FFD700;
    --APC-east-JCJ-secondary: #008000;
    --APC-east-JCJ-tertiary: #007BA7;
    --APC-east-JCJ-text-color: #007BA7;
    --APC-east-JCJ-alt-text-color: white;

    --APC-east-RR-primary: #1C1C1C;
    --APC-east-RR-secondary: #663399;
    --APC-east-RR-tertiary: #808080;
    --APC-east-RR-text-color: white;
    --APC-east-RR-alt-text-color: white;

    --APC-east-MM-primary: #6A0DAD;
    --APC-east-MM-secondary: #D4AF37;
    --APC-east-MM-tertiary: #BF0A30;
    --APC-east-MM-text-color: white;
    --APC-east-MM-alt-text-color: white;

    --APC-east-SS-primary: #007BA7;
    --APC-east-SS-secondary: #474747;
    --APC-east-SS-tertiary: #FFD700;
    --APC-east-SS-text-color: white;
    --APC-east-SS-alt-text-color: white;


    --APC-west-primary: #B87333;
    --APC-west-secondary: #01796F;
    --APC-west-tertiary: #C0C0C0;

    --APC-west-MM-primary: #F8F8FF;
    --APC-west-MM-secondary: #789B73;
    --APC-west-MM-tertiary: #E5C100;
    --APC-west-MM-text-color: black;
    --APC-west-MM-alt-text-color: black;

    --APC-west-JJ-primary: #1C1C1C;
    --APC-west-JJ-secondary: #87CEEB;
    --APC-west-JJ-tertiary: #C0C0C0;
    --APC-west-JJ-text-color: white;
    --APC-west-JJ-alt-text-color: black;

    --APC-west-BAB-primary: #FF2400;
    --APC-west-BAB-secondary: #E25822;
    --APC-west-BAB-tertiary: #696969;
    --APC-west-BAB-text-color: white;
    --APC-west-BAB-alt-text-color: white;

    --APC-west-PRP-primary: #E32636;
    --APC-west-PRP-secondary: #00008B;
    --APC-west-PRP-tertiary: #29AB87;
    --APC-west-PRP-text-color: white;
    --APC-west-PRP-alt-text-color: white;

}

/* USC */
.usc-border {
    border: 2px solid var(--USC-secondary);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.usc-text {
    color: var(--USC-tertiary);
}

.usc-background {
    background-color: var(--USC-primary);
}


/* USC North */
.usc-north-border {
    border: 2px solid var(--USC-north-secondary);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.usc-north-text {
    color: var(--USC-north-tertiary);
}

.usc-north-background {
    background-color: var(--USC-north-primary);
}

/* USC South */
.usc-south-border {
    border: 2px solid var(--USC-south-secondary);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.usc-south-text {
    color: var(--USC-south-tertiary);
}

.usc-south-background {
    background-color: var(--USC-south-primary);
}

/* USC East */
.usc-east-border {
    border: 2px solid var(--USC-east-secondary);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.usc-east-text {
    color: var(--USC-east-tertiary);
}

.usc-east-background {
    background-color: var(--USC-east-primary);
}

/* APC West */
.usc-west-border {
    border: 2px solid var(--USC-west-secondary);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.usc-west-text {
    color: var(--USC-west-tertiary);
}

.usc-west-background {
    background-color: var(--USC-west-primary);
}

/* APC */
.apc-border {
    border: 2px solid var(--APC-secondary);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.apc-text {
    color: var(--APC-tertiary);
}

.apc-background {
    background-color: var(--APC-primary);
}

/* APC North */
.apc-north-border {
    border: 2px solid var(--APC-north-secondary);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.apc-north-text {
    color: var(--APC-north-tertiary);
}

.apc-north-background {
    background-color: var(--APC-north-primary);
}

/* APC South */
.apc-south-border {
    border: 2px solid var(--APC-south-secondary);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.apc-south-text {
    color: white;
}

.apc-south-background {
    background-color: var(--APC-south-primary);
}

/* APC East */
.apc-east-border {
    border: 2px solid var(--APC-east-secondary);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.apc-east-text {
    color: black;
}

.apc-east-background {
    background-color: var(--APC-east-primary);
}

/* APC West */
.apc-west-border {
    border: 2px solid var(--APC-west-secondary);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.apc-west-text {
    color: white;
}

.apc-west-background {
    background-color: var(--APC-west-primary);
}